[2018-06-29 09:31] christgau opened #6 "Discrepancy with Fanka Emika's panda_moveit_config"
I'm struggling with the panda moveit configuration. In the simulation, I use the latest version from panda_moveit_config since it solves the problems with the gripper I encountered some time ago (see https://github.com/ros-planning/moveit/issues/948#issuecomment-397569356 for details). So, simulations run fine: simple motion, picking up objects and placing just works.

However, when it comes to th

[2018-07-02 15:06] christgau commented on #6
Here are some more details from a session with the real robot

panda_moveit_config is replaced with the latest version from Github (see OP). I first load/run franka_control via franka_control.launch with the robot IP. Then, I launch panda_moveit_config with the moveit_group launch file and after that I start my ROS node which uses moveit to steer the robot.

Settings a pose goal then results in th

[2018-07-25 10:01] krigi100 commented on #6
Have you already found a Solution?
I have the same Problem. I can't use Pick and Place with the real Robot, with the Simulated Robot it's possible.

[2018-07-26 06:42] christgau commented on #6
Actually, yes. I've ben able to solve the issue, by changing some configuration files. That's the good news. I really would like to share my solution with the community but - and thats the bad news - I'm still in discussion with the legal department and processes take a looooong time. However, the fix is rather small.

[2018-07-26 06:54] krigi100 commented on #6
Ok thanks,
i found a dirty, temporarily solution by copy the [panda.srdf](https://github.com/ros-planning/panda_moveit_config/blob/master/config/panda.srdf) in the [franka_ros/panda_moveit_config/config](https://github.com/frankaemika/franka_ros/tree/kinetic-devel/panda_moveit_config/config) and use the file in the [planning_context.launch](https://github.com/frankaemika/franka_ros/blob/kinetic-de

[2018-08-10 08:41] fwalch commented on #6
@christgau If the legal process is still ongoing, can you maybe share the cause of the problem instead of the fix? We're trying to merge the two panda_moveit_configs (see #9), but that would probably introduce the bug into this repo as well.

[2018-08-10 09:38] christgau commented on #6
@fwalch As explained in the issue, one thing is the existence of  different planning groups, i.e. the extra `panda_arm_hand` group in the franka_ros version of panda_moveit_config. This causes some confusion. In the ros_planning version, the group does not exist and it seems not to be required. It appears to me, that this planning group is of no use. But I may be mistaken.

In addition, I needed t

[2018-08-10 11:19] fwalch commented on #6
@christgau Thanks for your detailed feedback!

The reason for the different planning groups is that we wanted to support two configurations, robot+gripper and just robot, from the same config (with the `load_gripper` arg on the launchfiles). In the ros-planning version, the gripper is part of the planning group and thus required.

[2018-11-09 17:57] davetcoleman opened #11 "First release of panda_moveit_config from ros-planning"
There have been updates to the panda_moveit_config since its merger from the original location https://github.com/frankaemika/franka_ros/

@rhaschke wants to make a release, but i want to make sure @fwalch and team is ok with this.

Also fyi @mlautman

[2018-11-12 08:43] fwalch commented on #11
I can't see any updates since my PR was merged, but a release sounds good! I hope you won't run into problems with Kinetic (see also https://github.com/ros-planning/panda_moveit_config/pull/9#issuecomment-432936582), but otherwise let me know and we'll do a `franka_ros` release without `panda_moveit_config` and then you can release from here afterwards.

[2018-11-12 09:49] rhaschke commented on #11
I think, `panda_moveit_config` should be hosted at `franka_ros` and released by them.
See https://github.com/ros-planning/panda_moveit_config/pull/9#issuecomment-437818276.

[2018-11-13 10:04] rhaschke commented on #11
Release triggered: https://github.com/ros/rosdistro/pull/19460

[2018-11-13 10:11] fwalch commented on #11
For Kinetic, we had already released `panda_moveit_config` 0.6.0. This package therefore needs a higher version than that to be upgradable in Kinetic.

[2018-11-13 10:13] rhaschke commented on #11
Thanks for this hint!

[2018-11-13 10:58] rhaschke commented on #11
Release 0.7.0 triggered for Melodic (https://github.com/ros/rosdistro/pull/19461).

For Kinetic, @fwalch please remove/disable `panda_move_config` from `franka_ros` release.
`AssertionError - Duplicate package name 'panda_moveit_config' exists in repository 'panda_moveit_config' as well as in repository 'franka_ros'`.

[2018-11-14 06:47] rhaschke commented on #11
Release 0.7.0 for Kinetic triggered too: https://github.com/ros/rosdistro/pull/19472

[2018-11-14 06:47] #11 closed, assigned to nobody

[2018-11-14 23:04] davetcoleman commented on #11
Thanks!

[2018-11-15 04:27] ZhangShuaiGou opened #12 "where is panda.srdf?"
Hi, I am learning the tutorial-Visualizing Collisions.
When I run "roslaunch moveit_tutorials visualizing_collisions_tutorial.launch", it will come out with ERROR:ioerror: [errno 2] no such file or directory: 'myubuntu/catkin_ws/src/panda_moveit_config/config/panda.srdf'.
Then I go through the .launch file, find the code below:
[code]

It seems like there is no panda.srdf in the /panda_moveit_conf

[2018-11-16 01:12] rhaschke opened #13 "Release into Lunar?"
Dear @davetcoleman,
Currently our Lunar Docker containers fail to build, because panda_moveit_config is not yet released into Lunar:
https://hub.docker.com/r/moveit/moveit/builds/bt27uxgqr446z6wwz6uywpn/

I think we should prepare a Lunar release as well. Do you agree?
However, first somebody should fix #12. Not sure what process generates the .srdf from .srdf.xacro...

[2018-11-17 01:20] davetcoleman commented on #13
Makes sense to me. @fwalch ?

We could also remove Lunar from Docker, I don't think we need to make anymore releases of that OS

[2018-11-17 01:23] davetcoleman commented on #12
This needs to be modified to use xacro, similar to https://github.com/frankaemika/franka_ros/blob/6eb8b67dd0a4d9d5af514070f02efae711c2f67f/panda_moveit_config/launch/planning_context.launch

However it might make sense to just load the planning_context.launch instead of duplicating this in every launch file. @mlautman thoughts?

[2018-11-19 08:53] rhaschke commented on #13
This needs a release of `franka_description` first.

[2018-11-19 14:21] fwalch commented on #13
We can easily release `franka_description`, but I'm not sure about the actual control parts (libfranka etc), as we don't use Lunar (and Yakkety/Zesty). Also Lunar will hit EOL in May already.

It could still make sense to release this for Lunar anyway, even without libfranka - you can use `demo.launch` and, with the new setup assistant, generate a URDF for Gazebo.

What do you think?

[2018-11-19 14:27] rhaschke commented on #13
Yes, you did the same for Melodic: Please only release franka_description if you feel more comfortable with this. However, we do have a Lunar release of MoveIt and thus should also provide `moveit_tutorials`, and thus `panda_moveit_config`...

[2018-11-19 15:36] fwalch commented on #13
Alright, I just wanted to clarify. For Melodic, we will release `libfranka` etc as well.

[2018-11-19 16:16] fwalch commented on #13
Opened https://github.com/ros/rosdistro/pull/19497

[2018-11-21 01:42] davetcoleman commented on #13
Docker images have just been removed for Lunar fyi

[2018-11-22 10:10] mvish7 opened #14 "Moveit! Gazebo integration"
Hello,
I'm trying to control the gazebo simulated robot from moveit.
My current scenario is:-

1. I'm using panda robot and I have done motion planning using move group interface (c++) code and visualised it in rviz.

2. Now i want to use the motion planning from moveit to control a robot in Gazebo.
    I have seen this [webpage](https://moveit.ros.org/moveit!/ros/2018/10/23/gsoc-2018-setup-assist

[2018-11-22 22:14] samterra opened #15 "Which launch file to use for gripper control/ pick and place?"
I have tried running `panda_control_moveit_rviz.launch`, but it fails in the pick action with error message:
`No end-effector specified for pick action`.
Or is there some other step I'm missing as a newbie?

[2018-11-28 01:13] #15 closed, assigned to nobody

[2018-11-28 01:15] samterra commented on #15
Closed, error was due to an environement/path issue, roslaunch was finding an old version of panda_moveit_config.
The new version of `panda_control_moveit_rviz.launch` should work.

[2018-11-28 22:53] ZhangShuaiGou commented on #12
Thanks for your reply! I am gonna close it!

[2018-11-28 22:53] #12 closed, assigned to nobody

[2018-12-17 14:53] aPonza commented on #12
FYI this affects also the setup assistant, which can't find file panda.srdf when loading panda_moveit_config

[2018-12-27 16:48] aPonza opened #17 "MoveIt Assistant can't locate SRDF"
I'm trying to debug some move_group related errors on my code and stumbled on this.

Running `rosrun moveit_setup_assistant moveit_setup_assistant --config_pkg ~/catkin_ws/src/panda_moveit_config/` or `roslaunch moveit_setup_assistant setup_assistant.launch` and choosing this package and `--inorder` results in error `Unable to locate the SRDF file: /home/<user>/catkin_ws/src/panda_moveit_config/co

[2019-01-23 18:02] byque commented on #17
I can confirm the same behaviour in my computer.

What I did was to create a new configuration using the set-up assistant and the panda_arm_hard.srdf.xacro found on the franka_ros repository which could be loaded without problems.

I must agree that moving panda_moveit_config results confusing in the current state.

[2019-02-14 06:31] manestay opened #21 "Unable to interact with moveit following tutorial"
![screenshot](https://user-images.githubusercontent.com/9099139/52767538-d1d06080-2ff8-11e9-895e-808ed257e9a0.png)
I can't get step 2 to work following the guide [here](https://ros-planning.github.io/moveit_tutorials/doc/quickstart_in_rviz/quickstart_in_rviz_tutorial.html) exactly as written. I have interact selected, but it just moves the camera, and no interactive markers appear. I only see the

[2019-02-14 17:33] manestay commented on #21
Posted in stack overflow since it's probably more relevant there [link](https://stackoverflow.com/questions/54696068/unable-to-interact-with-joints-following-official-moveit-tutorial)

[2019-02-14 17:33] #21 closed, assigned to nobody

[2019-03-04 01:04] naktamello opened #22 "Changing virtual joint type breaks tutorial"
on the kinetic-develop branch while running demo.launch,
I have noticed the interactive markers are no longer visible
after commit d97b987a7bfc4ec0d10fa01d1ae518a67daf31d4
~~What was the reason for changing the end effector parent group?~~

[2019-03-04 09:59] skasperski commented on #22
Running demo.launch on melodic does not work either, all robot links seem to be cluttered at the center point. It only shows the following warning:

`[ WARN] [1551693269.759478997]: Unable to update multi-DOF joint 'virtual_joint': Failure to lookup transform between 'world' and 'panda_link0' with TF exception: "world" passed to lookupTransform argument target_frame does not exist.`

[2019-03-16 08:27] #14 closed, assigned to nobody

[2019-04-05 08:41] #13 closed, assigned to nobody

[2019-04-05 08:50] rhaschke opened #25 "unify kinetic and melodic into master branch"
Kinetic and Melodic branches for this repo have diverged for no reason. Usually, there is no reason to distinguish ROS distros for a moveit_config package.

The latest kinetic release is missing several commits compared to melodic, which is the cause for several issues, e.g. https://github.com/ros-planning/moveit/issues/1426 and #17.

I suggest to continue development on a master branch only, i.e.

[2019-04-11 13:44] krigi100 commented on #22
Did you find a solution?
I have the same problem with another warning.
There are two (same) warnings:
[code]

The first one, can be deleted by removing "kinematics_solver_attempts: 5" in the "kinematics.yaml".
But I don't understand, why there is the second (same) warning. I can't find the parameter in the parameter list.

[2019-04-17 16:17] davetcoleman commented on #22
These warnings are very likely unrelated to the original question. However, regarding the second warning, did you restart roscore?

[2019-04-17 16:18] davetcoleman commented on #22
Sounds like you aren't publishing that transform with TF

[2019-04-22 18:15] mlautman commented on #22
@naktamello and @skasperski  I believe that PR's #23 and #24 should fix this issue. Are you using a source install of panda_moveit_config or a debian?

[2019-04-22 18:22] mlautman commented on #22
Both source and debian installs of panda_moveit_config's work fine for me running melodic on 18.04. Please re-open if you still have the issue after updating your debians.

[2019-04-22 18:22] #22 closed, assigned to nobody

[2019-05-20 16:10] fjulian opened #28 "Problem following tutorial: Franka entangled"
Hi,
I am trying to follow the tutorial [here](https://ros-planning.github.io/moveit_tutorials/doc/quickstart_in_rviz/quickstart_in_rviz_tutorial.html). Before starting, I successfully completed the [previous one](https://ros-planning.github.io/moveit_tutorials/doc/getting_started/getting_started.html), which is a prerequisite.
Launching the demo in step one works fine. The Rviz window opens up as

[2019-05-20 16:17] gavanderhoorn commented on #28
Do you have a German-like locale configured on your machine? I assume so, as the screenshots show commas instead of dots in floating point numbers.

If so, this could be ros-planning/moveit#1050, which in the end was ros/urdfdom_headers#41.

That is -- afaik, but correct my if I'm wrong @simonschmeisser -- still not fixed.

[2019-05-20 16:32] fjulian commented on #28
Yes I had locale DE. I now changed to US and everything is working fine. Thank you for this quick and helpful reply!

[2019-05-20 16:32] #28 closed, assigned to nobody

[2019-05-20 16:35] gavanderhoorn commented on #28
Please vote for the bug report opened by @simonschmeisser linked in https://github.com/ros-planning/moveit/issues/1050#issuecomment-467436892.

Without more people complaining about this it's not going to get fixed and Melodic (and Bionic) will be with us for a long time ..

[2019-05-29 10:44] aPonza commented on #17
This is fixed by #19 (it's `panda_arm` instead of `panda_arm_hand` but it doesn't seem to change much) but depends on #25.

[2019-06-02 05:18] rhaschke commented on #17
@aPonza, I guess you are using the Kinetic version, which is why you depend on #25?

[2019-06-02 05:22] rhaschke commented on #25
@davetcoleman or @mlautman, could you please comment on this suggestion and then take the appropriate actions?

[2019-06-02 05:33] rhaschke commented on #25
In view of #31, which introduces an actual deviation between kinetic and melodic, I suggest
1. to _hard-reset_ `kinetic-devel` (which currently has two randomly chosen cherry-picks from melodic-devel) to `melodic-devel`
2. release those changes into both, kinetic and melodic (maybe also including #30)
3. and _subsequently_ branch off melodic-devel from kinetic-devel to handle #31.

[2019-06-03 23:54] mlautman commented on #25
Sounds like a good plan

[2019-06-04 06:31] rhaschke commented on #25
Done. Releases triggered:
* for Melodic: https://github.com/ros/rosdistro/pull/21451
(Not sure, why  @mlautman didn't release 0.7.2 when he created the release tag)
* for Kinetic: https://github.com/ros/rosdistro/pull/21450

[2019-06-04 06:31] #25 closed, assigned to mlautman

[2019-07-16 07:29] #17 closed, assigned to nobody

[2019-07-17 17:38] aPonza opened #33 "Regression on the current kinetic-devel"
**tl;dr** 6ae03fac5cf19f830f60e10a5bf669e0148a8e1f doesn't fix for me the virtual joint issue that was fixed for #22, and it's not the case of just propagating the publisher to another launch file.

### The issue

With the same exact process running, checking out panda_moveit_config 0.7.1 runs fine but the current kinetic-devel gives erratic behaviour and this diff in the output (I tried to keep i

[2019-08-02 11:17] GnnrMrkr opened #37 "Remapping of joint_states intended?"
Hello!

I stumbled on the line which remaps the joint states:
[`<remap from="/joint_states" to="/joint_states_desired" />`](https://github.com/ros-planning/panda_moveit_config/blob/e3a431a9ca1421d254e7d121ece6620d4a9254f1/launch/move_group.launch#L78)
(l. 78 in move_group.launch)

Is this line intended? I am working with a real panda robot and was creating launch files for two different usecases.

[2019-08-02 12:17] fwalch commented on #37
Some explanation for why this is required is provided in https://github.com/ros-planning/panda_moveit_config/pull/9#issuecomment-412055080.
I'll try to expand on this, but in the meantime, maybe the [docu](https://frankaemika.github.io/docs/libfranka.html#under-the-hood) can help to explain why there is a difference between measured joint states `q` and desired joint states `q_d`.

[2019-08-07 18:45] ommmid opened #38 "No joint state information if virtual joint is set to floating"
If the virtual joint in panda_arm.xacro is set to floating, then haveCompletedState() from StateMonitor never returns true Indicating we have no joint state information for at least one joint. I saw similar issues (#33 ) but they are in kinetic, I am running melodic

[2019-08-07 20:53] davetcoleman commented on #38
See my rationale for why I like having a floating joint, but a workaround for it instead:
https://github.com/ros-planning/moveit_msgs/pull/55

[2019-08-12 10:36] GnnrMrkr commented on #37
Alright. Thanks for the clarification. Good to know that this is intended.
To be honest, this is rather confusing. My issues were probably related to mixing up the joint state publishers, but I will go through my launch files once more.

Since I'm using franka_ros, I just skimmed through the part of the docu on libfranka.

[2019-08-12 10:36] #37 closed, assigned to nobody

[2019-08-30 07:25] rhaschke commented on #33
@aPonza, could you check, whether https://github.com/ros-planning/moveit_tutorials/pull/387 fixes this issue? If so, please close this issue.

[2019-08-30 07:26] rhaschke commented on #38
Fixed via https://github.com/ros-planning/moveit_tutorials/pull/387.

[2019-08-30 07:26] #38 closed, assigned to nobody

[2019-09-09 13:15] aPonza commented on #33
It doesn't seem to, the output is mainly the same. Just to double check, I had to clone moveit, moveit_resources and moveit_tutorials, stash my changes in panda_moveit_config (which wasn't modified) and rebuild the workspace to get this fix in, correct? I don't understand how a fix in a tutorial would affect the issue I'm seeing with the floating/fixed joint to be honest, but I'll have time to loo

[2019-09-09 14:02] rhaschke commented on #33
https://github.com/ros-planning/moveit_tutorials/pull/387 addressed an issue in the `motion_planning_api_tutorial`, which directly uses the C++ API of MoveIt, circumventing the ROS interface provided via the `move_group` node.

Please provide exact commands to reproduce your issue. You didn't even mention, which of the tutorials you tried.

[2019-09-09 14:16] aPonza commented on #33
I'm not trying tutorials, I'm using my own nodes and launch file of a pick and place process.  It's exactly the same roslaunch command with floating vs fixed. I'll make it reproducible, you're right. It'll take some time, I'm working on another thing at the moment.

[2019-11-03 11:55] mpatalberta opened #44 "where is demo_stomp.launch"
The documentation talks about demo_stomp.launch.
If you have one could you please check it in.

[2020-01-14 09:43] FirefoxMetzger opened #49 "missing robot state for virtual joint panda_joint8 - Trying to control panda from RVIZ"
I'm running ROS Kinetic and am connected to a physical panda arm. As far as I can tell, that setup works fine, as I can control the robot from the Franka Emika GUI just fine.

I'm trying to run the launch file `panda_control_moveit_rviz.launch` which opens RVIZ and shows a virtual representation of the robot in it's current (physical pose). When I guide the physical robot, the pose is also updated

[2020-01-14 10:02] rhaschke commented on #49
`joint8` is a fixed joint that exists in the official URDF:
https://github.com/frankaemika/franka_ros/blob/f7f00b6d9678e59e6f34ccc8d7aad6491b42ac80/franka_description/robots/panda_arm.xacro#L164-L169

The `virtual_joint` is indeed added by MoveIt's SRDF to place the robot in the world. To define it,
you should use a `static_transform_publisher`:
https://github.com/ros-planning/panda_moveit_config/

[2020-01-14 10:26] FirefoxMetzger commented on #49
you should use a static_transform_publisher:

I will try this after lunch. I found a more hacky solution, which was to change the virtual joint from `floating` to `fixed`, although I am not familiar enough with the code base yet and don't know if that breaks anything else. Interestingly, introducing the hack resolved the warning for both joints.

[2020-01-14 10:54] rhaschke commented on #49
I think it is a bug that `joint8` was mentioned in the error message...

[2020-01-14 13:06] FirefoxMetzger commented on #49
@rhaschke Done. Your suggestion resolves the warning for both joints as well.

I created two PRs for melodic and kinetic respectively.

[2020-01-14 14:04] #49 closed, assigned to nobody

[2020-02-17 02:43] luckychay opened #53 "Running OMPL as a pre-processor for STOMP doesn't work."
I'm following the Planning Adapter Tutorials of Moveit! at [http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/planning_adapters/planning_adapters_tutorial.html](url), but I can't implement the Running OMPL as a pre-processor for STOMP. Although I installed stomp_core from source which origined from [https://github.com/ros-industrial/stomp_ros](url),  I got an  error like this:
`[ERROR] [15

[2020-02-17 07:17] rhaschke commented on #53
Duplicate of https://github.com/ros-planning/moveit_tutorials/issues/453.

[2020-02-17 07:17] #53 closed, assigned to nobody

[2020-02-27 04:46] jsbyysheng opened #56 "The order of planning_adapters in moveit planner pipeline"
The `planning_adapters` of `ompl_planning_pipeline.launch.xml` in [panda_moveit_config(kinetic-devel)](https://github.com/ros-planning/panda_moveit_config/blob/kinetic-devel/launch/ompl_planning_pipeline.launch.xml) is the order of the following:

[code]

However,  The `planning_adapters` of `ompl_planning_pipeline.launch.xml` in [panda_moveit_config(melodic-devel)](https://github.com/ros-planning

[2020-02-27 08:18] rhaschke commented on #56
No, actually it works both ways around because the adapters choose themselves whether to run before or after the actual planner.

[2020-02-27 08:18] #56 closed, assigned to nobody

[2020-02-27 08:47] jsbyysheng opened #58 "[bug] stomp_planning_pipeline.launch.xml should contain default_planner_request_adapters/AddTimeParameterization"
In [stomp_planning_pipeline.launch.xml](https://github.com/ros-planning/panda_moveit_config/blob/melodic-devel/launch/stomp_planning_pipeline.launch.xml), the `planning_adapters` should contain `default_planner_request_adapters/AddTimeParameterization` according to the [tutorial](https://ros-planning.github.io/moveit_tutorials/doc/stomp_planner/stomp_planner_tutorial.html#using-stomp-with-your-rob

[2020-02-27 08:56] rhaschke commented on #58
That's a bug. Please file a PR.

[2020-02-27 08:57] jsbyysheng commented on #58
ok

[2020-04-08 18:08] tylerjw opened #62 "Add variable to demo.launch to control starting rviz for simpler test launch files."
@v4hn commented this [here](https://github.com/ros-planning/moveit/pull/1995) about the redundancy needed to build a test in moveit without launching rviz:

I suggest we add a `use_rviz` variable to `demo.launch` that defaults to true to simplify the launch files needed for using this for testing in moveit.  This won't break existing use cases of demo.launch and then the functionality of it won't

[2020-04-10 16:38] tylerjw commented on #62
In case anyone finds this, it was pointed out that these are generated files from the moveit setup assistant and that I should instead make a PR there and re-generated these files.  Here is a link to my resulting PR: https://github.com/ros-planning/moveit/pull/2019

[2020-04-21 03:00] swinterbotix opened #65 "planning_context confusion"
Hi,

On line 24 of the [demo.launch](https://github.com/ros-planning/panda_moveit_config/blob/melodic-devel/launch/demo.launch#L24) file, the planning_context.launch file is included.

Later, on line 42 of the demo.launch file, move_group.launch is included (which is expected). Afterwards, the move_group.[launch file](https://github.com/ros-planning/panda_moveit_config/blob/melodic-devel/launch/mo

[2020-04-21 10:36] rhaschke commented on #65
Thanks for pointing this out. But the double inclusion is for a reason:
The first inclusion in `demo.launch` uses the argument `load_robot_description=true` to ensure that URDF and SRDF are loaded.
The second inclusion in move_group.launch doesn't use this argument. It relies on these parameters to be loaded in advance - typically by some `bringup.launch` of a robot.
As `planning_context.launch` j

[2020-04-21 10:36] #65 closed, assigned to nobody

[2020-09-23 13:34] JhuaDuan opened #71 "No collision geometry"
When i was ran :` roslaunch panda_moveit_config panda_control_moveit_rviz.launch load_gripper:=true robot_ip:=172.16.0.2`. Some warn occurred as following:

[2020-09-23 13:44] v4hn commented on #71
This is a bug in the current upstream robot model [that was pointed out multiple times already](https://github.com/ros-planning/panda_moveit_config/pull/35#issuecomment-671279013). They did not fix it yet though and you should file an issue [there](https://github.com/frankaemika/franka_ros) instead.

That being said, the warning can be safely ignored unless you rely on these specific collision bod

[2020-09-23 13:44] #71 closed, assigned to nobody

[2020-09-23 14:17] JhuaDuan commented on #71
@v4hn Thanks for your help. This bug causes the gripper to disconnect,  since I can't ignore this.

[2020-09-30 16:57] tylerjw opened #72 "Noetic Release (0.8.0)"
# Noetic Release (0.8.0)

`franka_description` was released: https://index.ros.org/p/franka_description/#noetic

Before we cut the release we should regenerate this based on the master version of the moveit setup assistant.  @rhaschke

### Checklist
- [ ] Update based on master branch of moveit setup assistant
- [ ] Make `noetic-devel` branch
- [ ] Run ROS buildfarm prerelease test
- [ ] Update ch

[2020-09-30 17:20] tylerjw commented on #72
Before anyone points it out, I found that the tutorial for setup assistant describes how to create this package.  I'll do that now and create the PR for it.

[2020-09-30 18:55] tylerjw opened #73 "Add documentation for creating this package."
I recognize that much of what is needed to create this package is documented in the tutorials:
https://ros-planning.github.io/moveit_tutorials/doc/setup_assistant/setup_assistant_tutorial.html

However, there are missing steps in the tutorial to exactly reproduce this repo (default poses for example).  Those things should either be documented in the readme for this package or in the tutorials.  As

[2020-10-01 06:55] rhaschke commented on #73
There is no need to document how to exactly reproduce all the robot poses of this package. The package is provided as is.
However, I agree that the tutorials should document how poses can be defined in general and it already does:
https://ros-planning.github.io/moveit_tutorials/doc/setup_assistant/setup_assistant_tutorial.html#step-5-add-robot-poses

[2020-10-01 06:55] #73 closed, assigned to tylerjw

[2020-10-03 21:00] tylerjw commented on #62
This is finally becoming part of panda_moveit_config due to updating this package to match what the master branch on moveit generates.

[2020-10-03 21:00] #62 closed, assigned to nobody

[2020-10-03 21:01] tylerjw commented on #58
This was fixed with #59

[2020-10-03 21:01] #58 closed, assigned to nobody

[2020-10-22 12:27] sgabl opened #75 "Melodic-devel release"
Hi, we just [released](https://github.com/ros/rosdistro/pull/27097) `franka_ros 0.7.1`. Can you please release the `melodic-devel` branch?

[2021-01-12 17:14] yijionglin commented on #72
Hi gentleman,

Currently, I'm working on the Franka panda arm (both the real and the simulated one), and I'm studying the possibility of using that arm with the franka_ros pkg. I tend to work on ROS Noetic since it would be great if I could work on this version with Python 3 instead of Python 2.

I was redirected to [here](https://github.com/ros-planning/panda_moveit_config/issues/72) from [moveit

[2021-01-27 00:37] Tobias-Fischer commented on #72
Hiya,
It would be great to see this package released for noetic. Is there anything I can help to make this happen?

[2021-01-27 18:09] tylerjw commented on #72
Thank you for asking, this PR: https://github.com/ros-planning/panda_moveit_config/pull/74 is where we are stuck.  I started the work of using the latest panda config from franka for this package (and therefore for the moveit tutorials) however I've had my time eaten up by other work and have not had time to finish it.  A couple of other people have helped on that PR and you are welcome to test wi

[2021-01-27 20:48] Tobias-Fischer commented on #72
Ahh gosh, that is much more involved than what I had imagined. I am not very familiar with moveit in general, so I think this task would eat up too much of my time - sorry. The main reason why I am keen to get this package to work is to get franka_ros into noetic, which we in turn would like to build within our RoboStack project, which combines ROS with conda: https://github.com/RoboStack/ros-noet

[2021-03-15 16:47] christoph-jaehne opened #76 "run-time error with franka_ros example"
With the current apt version of ros-melodic-panda-moveit-config and the current franka_ros, when launching e.g. the move to start example:

[code]
I get the following error message:

[code]

My installed packages are all up to date...

[2021-03-15 17:02] christoph-jaehne commented on #76
The type `ResolveConstraintFrames` seems to be missing in the current set of apt packages...

[2021-03-15 17:33] rhaschke commented on #76
Consider this as a warning. The MoveIt capability `ResolveConstraintFrames` is only available in Noetic / MoveIt master, but the panda_moveit_config package is used across Melodic and Noetic.

[2021-03-16 08:46] felixvd commented on #76
So in summary, you can ignore the warning.

The `ResolveConstraintFrames` is needed for the Subframes feature, which is not available on Melodic.

[2021-03-18 12:48] fwalch opened #77 "Release 0.7.x for Noetic"
As #72 seems to require additional work, would it be possible to release the existing `melodic-devel` branch for Noetic? I only performed basic tests, but it seems to work without issues on Noetic. Our `franka_example_controllers` package depends on `panda_moveit_config`, so we cannot publish it to the ROS repos unless `panda_moveit_config` is in there as well.

[2021-03-18 14:37] tylerjw commented on #77
I assigned this to myself and will work on getting this done.

[2021-03-18 16:16] fwalch commented on #76
Thanks for your help! As you said, this only has the effect of a warning and does not represent an actual error, which we did not realize at first. The actual issue was that #35 has not been released yet (see #75), so this can be closed.

[2021-03-18 16:37] #76 closed, assigned to nobody

[2021-03-23 09:19] JEDV10 commented on #44
If you open 'demo_chomp.launch', it is quite easy to generate your own 'demo_stomp.launch'. Just copy-paste 'demo_chomp.launch', rename it to 'demo_stomp.launch' and change the value of the argument "pipeline" from "chomp" to "stomp". It works for me.

[2021-03-25 17:27] tylerjw commented on #77
https://github.com/ros/rosdistro/pull/28831

[2021-03-25 18:12] fwalch commented on #77
Thank you! However, the 0.7.4 tag is outdated compared to `melodic-devel`, and I think there will be problems with the `franka_ros` version already in the Noetic repos. I was hoping you could create a new release tag from the current `melodic-devel` branch head. Sorry for not being clear.

Related for Melodic: #75

[2021-03-25 18:21] tylerjw commented on #77
Oh, I'm sorry I misunderstood.  I can cut a release of the latest for noetic.

[2021-03-25 21:36] tylerjw commented on #77
https://github.com/ros/rosdistro/pull/28851

[2021-03-26 00:32] tylerjw commented on #77
It was merged into rosdistro.  This will go out in the next sync.  I hope that fixes your issue.

[2021-03-31 13:59] fwalch commented on #77
It does, thank you!

[2021-03-31 13:59] #77 closed, assigned to tylerjw

[2021-04-08 14:03] rickstaa commented on #77
@tylerjw Thanks a lot for this release!

[2021-08-27 09:06] rickstaa commented on #44
@mpatalberta fixed when https://github.com/ros-planning/panda_moveit_config/pull/82 is merged.

[2021-08-28 18:57] #44 closed, assigned to nobody

[2021-10-21 09:58] rickstaa opened #89 "Noetic release"
We just released the initial version of the [Noetic branch](https://github.com/ros-planning/panda_moveit_config/tree/noetic-devel). This issue will be used for the rest of the release process.

## Upstream pull requests that are required

The following upstream pull requests need to be merged for the Noetic branch to be warning and error free:

- [x] ~~frankaemika/franka_ros#151 needs to be merged

[2021-10-21 10:15] rickstaa commented on #72
@tylerjw, @rhaschke Maybe let's close this issue, since we now use https://github.com/ros-planning/panda_moveit_config/issues/89.

[2021-10-21 10:26] rickstaa commented on #89
If people want to help to finalize the Noetic release, please tag me and state which TODO you are working on. I will then update the TODO in the issue report above.

[2021-10-21 10:31] #72 closed, assigned to tylerjw

[2021-10-21 18:57] rickstaa commented on #89
I just performed some tests on the simulated and real robot, and it looks like the code that remaps `/joint_states` to `/joint_states_desired` is no longer needed (see https://github.com/rickstaa/panda_moveit_config/pull/54):

https://github.com/ros-planning/panda_moveit_config/blob/78e783a1cd979b312f582748ce3f7426d16258a0/launch/move_group.launch#L78

https://github.com/ros-planning/panda_moveit_

[2021-10-22 08:53] fwalch commented on #89
@rickstaa I think this is still required. Both have the same data type, but the data comes from different sources (`robot_state_.q` vs `robot_state_.q_d`).

[2021-10-22 09:24] rhaschke commented on #89
@fwalch, what's the semantic difference between these two sources / topics?
Usually, the robot should publish its _current_ joint values on `joint_states`. What's the meaning of `joint_states_desired`?
If these are commanded (but not yet reached) joint values, this is just for info and neither MoveIt nor any other ROS node actually cares about them.

[2021-10-22 09:55] v4hn commented on #89
Wow, that's a long list! Thank you a lot for working on noetic support and digging through all of that @rickstaa! :medal_sports:

With more and more online controller support it can make a lot of sense to replace the actual with the desired state in tight loops. But then there needs to be a mechanism in place that will abort if the actual state moves to far away from desired.

Also it can be a way

[2021-10-22 10:14] rickstaa commented on #89
@fwalch I think @rhaschke is right. If we look at the primitive in the [libfranka](https://github.com/frankaemika/libfranka) package, they are equal (see https://github.com/frankaemika/libfranka/blob/f1f46fb008a37eb0d1dba00c971ff7e5a7bfbfd3/include/franka/robot_state.h#L212-L222). To check if we still need to remap the `joint_states` topic we have to consider three use cases: simulation, visualiza

[2021-10-22 10:22] rhaschke commented on #89
@fwalch and @rickstaa could we have a phone/video conference with responsible people at Franka to discuss the list of open issues in https://github.com/ros-planning/panda_moveit_config/issues/89#issue-1032294633? @fwalch, I'm contacting you as you appeared in most github PRs / issues. Please feel free to dispatch this request to another person if needed. I prepared a [doodle to negotiate a time sl

[2021-10-22 11:26] rickstaa commented on #89
@rhaschke Of course, I'm happy to join the meeting to provide details about the upstream pull requests I created. In the meantime, please allow me to quickly describe all the upstream pull requests to make sure everybody has a clear picture.

## Upstream pull requests related to the panda_moveit_config package

Here again, I will make a distinction between the real/visualized and simulated robot.

[2021-10-22 13:34] rickstaa commented on #89
@rhaschke Quick question. Based on the discussion above, I think we can drop the following TODO:

Or do you first want to confirm with the @frankaemika team how the `joint_states_desired` works in the new version?

[2021-10-23 04:53] rhaschke commented on #89
I strongly believe that we can remove `joint_states_desired`. But, indeed, it would be great to get some feedback from @frankaemika first.

[2021-10-23 06:17] rickstaa commented on #89
@rhaschke I will keep it onto our to-do list till we talked to Franka.

[2021-10-25 09:07] rhaschke commented on #89
@rickstaa, I have worked myself through your list of TODOs and would like to discuss them with you.
Do you have time for a chat? Please send me your contacts (email and/or phone) to rhaschke@techfak.uni-bielefeld.de. Thanks.

[2021-10-25 10:06] rickstaa commented on #89
@rhaschke That's great! I send you a mail.

[2021-10-25 12:07] gollth commented on #89
Hello @rhaschke,

thanks for the Doodle, definitively makes sense to discuss these issues personally. We entered slots in your Doodle. If we don't find a common slot, feel free to propose more times.

Looking forward to it.

[2021-10-25 12:19] v4hn commented on #89
Please add a brief summary of this meeting here later on.
A number of issues mentioned here touch much more of MoveIt than just the panda configuration.

[2021-11-02 08:15] rickstaa commented on #33
@rhaschke Maybe we can close this issue since kinetic is EOL?

[2021-11-02 08:15] rickstaa commented on #75
@rhaschke I think we can close this issue.

[2021-11-02 08:19] rickstaa opened #94 "IMPORTANT: Noetic-devel branch will be merged into the melodic devel branch"
To improve code maintainability, we will merge the new `noetic-devel` branch into the `melodic-devel` branch when releasing (i.e. https://github.com/ros-planning/panda_moveit_config/issues/89). As a result, new pull requests should target  `noetic-devel` instead of `melodic-devel`. See [this comment](https://github.com/ros-planning/panda_moveit_config/pull/68#issuecomment-950679014) for more infor

[2021-11-02 08:20] rickstaa commented on #94
@rhaschke Can you maybe pin this issue?

[2021-11-02 13:26] rhaschke commented on #33
The virtual joint should be type `fixed`. This doesn't require a virtual joint broadcaster, which is not provided by the real robot.

[2021-11-02 13:26] #33 closed, assigned to nobody

[2021-11-02 13:30] rhaschke commented on #75
We will trigger a new release as soon as all open issues in #89 are fixed on `franka-ros` side, primarily https://github.com/frankaemika/franka_ros/pull/188.

[2021-11-02 13:30] rhaschke commented on #75
We should keep this open until we actually triggered the release.

[2021-11-05 11:24] rhaschke commented on #89
@v4hn, the results of our phone-conf meeting with Franka are summarized [here](https://github.com/rhaschke/panda_moveit_config/issues/12).
@rickstaa, I addressed various issues of your list in https://github.com/ros-planning/moveit/pull/2932, https://github.com/ros-planning/moveit/pull/2945, https://github.com/ros-planning/moveit/pull/2946.
I'm tempted to recreate the noetic-devel branch starting

[2021-11-08 09:11] rhaschke opened #96 "Noetic release"
I reworked (and force-pushed) the [`noetic-devel` branch](https://github.com/ros-planning/panda_moveit_config/tree/noetic-devel) once more as announced in https://github.com/ros-planning/panda_moveit_config/issues/89#issuecomment-961815149.

The new branch can be considered a release candidate, but relies on several open PRs in franka_ros (also see https://github.com/frankaemika/franka_ros/issues/

[2021-11-10 13:05] rickstaa commented on #96
@rhaschke I am working through the last todos in #89 so that we can replace it with #96. I will add the tests and changes we have to do for the tutorials below:

## Moveit_tutorials todos

@tylerjw already performed some tests for his solution with the [moveit_tutorials](https://github.com/ros-planning/panda_moveit_config/pull/74#issuecomment-703139739). We however need to re-perform these tests f

[2021-11-10 14:18] rhaschke commented on #96
I suggest opening a new issue for the moveit_tutorial tests which we can then reference to from here.

[2021-11-10 15:09] rickstaa opened #97 "Update moveit_tutorials (Noetic)"
The [MoveIt tutorials](https://github.com/ros-planning/moveit_tutorials) should be updated now that the new `noetic` branch has been released. This issue tracks this process.

## TODOS

@tylerjw already performed some tests for his solution with the [moveit_tutorials](https://github.com/ros-planning/panda_moveit_config/pull/74#issuecomment-703139739). We however need to re-perform these tests for

[2021-11-10 15:22] rickstaa commented on #97
@rhaschke I started updating the [moveit setup assistant](https://github.com/ros-planning/moveit_tutorials) tutorial (see https://github.com/ros-planning/moveit_tutorials/pull/678). I, however, noticed that the poses used in the `panda_moveit_config` are now in a collision when I use the pull requests in https://github.com/ros-planning/panda_moveit_config/issues/96:

https://github.com/ros-plannin

[2021-11-10 15:29] rickstaa commented on #97
Ah, I now see that https://github.com/rickstaa/msa_test mixed the results of the PMC with the newly created config. I will replace it with a freshly made robot configuration repository later.

[2021-11-10 20:41] rhaschke commented on #97
The URDF description needs more rework: https://github.com/frankaemika/franka_ros/pull/199. But I don't have more time to invest in there...

[2021-11-11 08:31] rickstaa commented on #97
Thanks, I haven't seen that pull request yet. I will take a look.

[2021-11-11 09:58] rickstaa commented on #96
The STOMP  and OMPL-STOMP planners have been added to MSA in https://github.com/ros-planning/moveit/pull/2955.

[2021-11-12 10:22] rickstaa commented on #89
Closed because this has been replaced by #96.

Has been addressed in https://github.com/rickstaa/moveit/tree/add_MSA_write_gazebo_urdf_feature. The MSA now checks whether the specified `urdf` is Gazebo compatible and otherwise saves it into the generated `<ROBOT>_moveit_config`. I will create a pull request after I performed some last tests and add the last warning popup (probably on Sunday). This

[2021-11-12 10:22] #89 closed, assigned to nobody

[2021-11-12 14:09] rhaschke commented on #89
I think it is reasonable to provide an option to save the generated, Gazebo-compatible URDF. However, I suggest providing a save button in the corresponding widget, as the .urdf file will be saved in an external (non moveit-config) package. All other files listed in the config-files widget, are related to the moveit-config package only.

However, my problem wasn't that I couldn't save the file. Of

[2021-11-12 16:11] rickstaa commented on #89
Strange, I remember that the urdf worked for me when using the steps in the tutorials [moveit_setup_assistant](https://ros-planning.github.io/moveit_tutorials/doc/setup_assistant/setup_assistant_tutorial.html#step-9-gazebo-simulation). I will investigate this weekend.

The current implementation is as follows:
- If the simulation widget is not used, no `gazebo_panda.urdf` will be added to the move

[2021-11-12 17:10] rhaschke commented on #89
As I said, I generally like and appreciate your proposal. We can use the generated gazebo-compatible file in two ways:
- Overwrite the original file in the robot's description package. This option should be offered in the simulation widget.
- Alternatively, create the corresponding file as part of the moveit_config package. In that case, it should be listed in the config file widget.

demo_gazebo.

[2021-11-16 11:48] rickstaa commented on #89
@rhaschke I took your suggestions into account. You can find the tested version of my proposal at https://github.com/ros-planning/moveit/pull/2960.

[2021-11-17 10:52] rickstaa commented on #96
@rhaschke Can you update:

defining detailed (panda_hand) and coarse (panda_hand_coarse) collision models for environmental and self collisions resp.

To reflect the new pull request (i.e. https://github.com/frankaemika/franka_ros/pull/199).

[2022-01-29 10:22] rickstaa commented on #96
@rhaschke, I think some of the todos in this issue can be checked as done. For testing the tutorials, I'm waiting for @frankaemika to decide on https://github.com/frankaemika/franka_ros/pull/188 since if I do it now, things change I might have to retest.

[2022-02-02 15:55] gollth commented on #96
Hey there,

I'm testing out the new `noetic-devel` branch of this repo together with the new MoveIT and ran into some problem:

Suppose I want to start the move group in a launch file like so:

[code]

I get the error message to please set the `transmission` argument:

[code]

However the `move_group.launch` does not accept such an argument:

[code]

AFAIR in Melodic you didn't need to (and couldn

[2022-02-02 16:17] rhaschke commented on #96
In `demo.launch` it seems to work because we include `move_group.launch` with `pass_all_args="true"`:
https://github.com/ros-planning/panda_moveit_config/blob/c38a59af4ca94c008b3677e1ee1787a64bc6fea3/launch/demo.launch#L55

There is a working example file very similar to your example: [franka_control.launch](https://github.com/ros-planning/panda_moveit_config/blob/c38a59af4ca94c008b3677e1ee1787a64

[2022-02-03 07:00] gollth commented on #96
Thanks for the answer, I thought so as well that this is the background. But this would mean that you cannot even use this launch file like this anymore:

[code]
I think many users of this repo will have something similar to this in their user code. Is this breaking change really something you intent? If yes is it already documented somewhere already?

[2022-02-03 22:54] rhaschke commented on #96
I will try to improve the launch files over the weekend.

[2022-02-07 19:43] orrblue opened #100 "roslaunch demo.launch fails"
I'm on Ubuntu 20.04 + ROS Noetic and I downloaded the noetic-devel branch of this repo, but when I try `roslaunch panda_moveit_config demo.launch` there is an error caused by the file `panda_moveit_config/config/panda_arm.srdf.xacro` (i think). However when I clone the melodic-devel branch, the error is gone. I understand the noetic-devel branch is still in development, but I wanted to highlight t

[2022-02-07 20:11] simonschmeisser commented on #100
Please use tripple backticks for multiline logs/code

[2022-02-07 21:35] rhaschke commented on #100
As you mentioned, the noetic-devel branch is still work-in-progress. Particularly, you need to use a modified version of `franka_description`. See https://github.com/ros-planning/panda_moveit_config/issues/96 for details.

[2022-02-07 21:35] #100 closed, assigned to nobody

[2022-02-09 08:54] gollth opened #101 "End-Effector Visualization for move group 'manipulator' wrongly placed"
## Details

If I want to plan with the `manipulator` move group and choose this in the RVIZ Motion Planning Plugin, the Interactive Marker Gizmo shows at the wrong link, namely at `panda_link8` with the 45° rotation:
![Screenshot from 2022-02-09 09-48-03](https://user-images.githubusercontent.com/31999281/153159514-83c8339b-e8cb-4b9a-99cf-de92c59aa41d.png)

## Expected Behaviour

The Gizmo shows i

[2022-02-10 03:33] karl-exwzd opened #103 "Installing this package in Noetic gets the Melodic release"
When installing the package `ros-noetic-panda-moveit-config` the Melodic release is installed, which is not compatible with the Noetic version of `franka_description` which is one of its dependencies.

The error is following:

    Param xml is <param if="$(eval arg('load_robot_description') and arg('load_gripper'))" name="$(arg robot_description)" command="$(find xacro)/xacro '$(find franka_descri

[2022-02-10 07:08] rhaschke commented on #103
The noetic-devel branch is work in progress. It was not yet released. See #96 for some details.

[2022-02-10 09:33] karl-exwzd commented on #103
@rhaschke Thank you for the information.

I was very confused when installing a package on which the dependency was broken in this particular way. I'll wait then.

I guess this ticket can be closed for now?

[2022-03-09 13:00] gollth commented on #96
Hey @rhaschke any updates on this? Currently `panda_moveit_config` is in a not very usable state

[2022-03-09 16:01] rhaschke commented on #96
Sorry, I was busy with many other things. I will try over the coming weekend to catch up on this.
What is your progress on https://github.com/frankaemika/franka_ros/pull/199?
Using the coarse self-collision models for environmental collision checks as well, renders MoveIt very much unusable in general :wink:

[2022-03-15 10:46] rhaschke commented on #101
Fixed via c8950cc4cf68251e8959d6b6c7de221de2f4bdd9.

[2022-03-15 10:46] #101 closed, assigned to nobody

[2022-03-15 10:48] #103 closed, assigned to nobody

[2022-03-21 09:18] MahmoudSalem92 opened #105 "Two panda robots"
Dear all,

I am working with two real panda robots. I built a MoveIT package for interface with the two panda robots and it works fine in the simulator. Then, I configured the controllers.yaml to act with the real two robots via the combined_panda/effort_joint_trajectory_controller and I can read and visualize the robots state/joints values (/combined_panda/joints) in the Rviz.

I have three plann

[2022-04-06 07:10] arnauddomes commented on #97
Hello,
I try to run move_to_start.py example from franka_ros but on panda_moveit_config for noetic there is no file panda_moveit.launch.
Is there a way to make it fix that issue? Why that file has been removed?

[2022-04-06 10:25] rhaschke commented on #97
Please try `franka_control.launch` instead.

[2022-04-06 11:56] xav12358 commented on #97
In fact I want to use an example with moveit. And in my move_to_start.launch there is already a call to franka_control.launch

[code]

 Is there an other example of Moveit ?

[2022-04-06 12:03] rhaschke commented on #97
Note that a `franka_control.launch` is provided by both, `franka_control` and `panda_moveit_config`. Just replace `panda_moveit.launch` with `franka_control.launch`.

[2022-04-06 12:17] xav12358 commented on #97
After replacing panda_moveit.launch by franka_control.launch, I had to add robot_ip

[code]

But I get that error:

[code]

[2022-04-06 12:25] arnauddomes commented on #97
After a try I get the same trouble as @xav12358

I am on Ubuntu 20.04 and Noetic . And also Noetic on all my repos.

[2022-04-06 13:47] rhaschke commented on #97
Ok. Looking into `panda_moveit_config/franka_control.launch`, I see that this file already includes `franka_control/franka_control.launch`, which explains the error message.
I think, it should suffice to include move_group.launch:

[code]

[2022-04-06 13:59] xav12358 commented on #97
I copy paste your launch file and I get now that error:

[code]

full log:

[code]

[2022-04-06 14:09] rhaschke commented on #97
@xav12358, looks like you are not running ROS Noetic, but ROS Melodic. In any case, you can ignore this error. It just states that the Pilz planner is not available (in Melodic).

[2022-04-06 14:16] xav12358 commented on #97
I update my previous post. When I run the move_to_start.py the robot arm is not moving

[2022-04-06 14:48] rhaschke commented on #97
Looks like you interrupted with Ctrl-C, didn't you?
The line `rospy.wait_for_message('move_group/status', GoalStatusArray)` waits for a message on the given topic.
Do you see any messages published on this topic (check via: `rostopic echo /move_group/status`)?

[2022-04-07 08:03] xav12358 commented on #97
Indeed I interrupted the program because no rviz was launch, just because it was not in the launch file. So I start rviz in an other terminal.

So now I get that full log:

[code]

In rviz terminal:

[code]

And the echo seems to work properly:
[code]

[2022-04-07 08:15] xav12358 commented on #97
I also try to launch the move_to_start.py script in an other terminal and I get that error:

[code]

[2022-04-07 08:30] rhaschke commented on #97
You are missing controllers:
[code]
because the corresponding controller_spawner fails:
[code]
The reason for this is in `panda_moveit_config/ros_controllers.launch`, where the controller spawner is started within the namespace `ns="/$(arg arm_id)"`:
[code]
The root cause of that problem is that @frankaemika uses a namespace (`arm_id = panda`) for Gazebo to run ROS control in, but doesn't use that

[2022-04-07 09:26] xav12358 commented on #97
Thank you. SO I remove in ros_controller.launch that line:

[code]

And I get that error:

[code]

[2022-04-07 09:44] xav12358 commented on #97
I also juste remove ns="/$(arg arm_id)" in ros_controller.launch

[code]

[2022-04-07 09:58] rhaschke commented on #97
Controllers still seem not active yet. Please check controller status via http://wiki.ros.org/rqt_controller_manager and http://wiki.ros.org/rqt_joint_trajectory_controller.

[2022-04-07 10:06] xav12358 commented on #97
Here is the result:

![image](https://user-images.githubusercontent.com/12400238/162175415-f1a55ecf-195b-42d9-9f7c-becc950380cb.png)

In log it is written:

`[ERROR] [1649325896.065172693]: Action client not connected: effort_joint_trajectory_controller/follow_joint_trajectory
`

[2022-04-07 10:42] rhaschke commented on #97
Please start the desired controller manually. I don‘t understand, why the controller isn‘t started by the controller spawner in ros_controllers.launch. You should investigate this command.

[2022-04-07 10:53] arnauddomes commented on #97
What could I find the list of controller? and how could I launch it?

[2022-04-07 11:04] xav12358 commented on #97
Is it roslaunch that example?
`
roslaunch franka_example_controllers cartesian_pose_example_controller.launch robot_ip:=172.16.0.2 debug:=true`

In my franka-ros_franka_control.launch file I get:
[code]

franka_control_node is used. I try to modify with default_controllers.yaml but I get that error:

[code]

[2022-04-07 12:03] rhaschke commented on #97
@arnauddomes and @xav12358, please open a _new_ issue to continue the conversation. You kind of hijacked this thread...

[2022-04-07 12:14] xav12358 commented on #97
Ok I will create a new issue

[2022-04-07 12:38] xav12358 opened #107 "Error when I use move_to_start"
hello

Following the previous discussion on that issue:
https://github.com/ros-planning/panda_moveit_config/issues/97

I work on Noetic on Ubuntu 20.04. I have trouble to use move_to_start.launch from franka_ros. I modified the move_to_start.launch file according to @rhaschke advice.

[code]

I get that log:

[code]

[2022-04-07 13:50] arnauddomes commented on #107
I have modify the move_to_start_launch file like this:

[code]

And then run the move_to_start.py in an other terminal.
In the first terminal I get that error:

[code]
When I run move_to_start.py I get that in the first terminal:
[code]

And in the second one I get that:

[code]

[2022-04-07 15:25] arnauddomes commented on #107
In fact the effort_joint_trajectory_controller and  position_joint_trajectory_controller are only generate with franka_ros default_controllers.yaml file but this file is never used in move_group.launch

[2022-04-07 15:47] rhaschke commented on #107
For both of you, the controller_spawner is started within the wrong namespace as stated in https://github.com/ros-planning/panda_moveit_config/issues/97#issuecomment-1091308607:
[code]
Looks like this is a bug only recently introduced by #106. Please try the previous commit cfe7d445e27dea989143436fb881123e7c03725a, or alternatively the fixup #108.

[2022-04-08 07:25] arnauddomes commented on #107
I try that fix:
https://github.com/ros-planning/panda_moveit_config/pull/108/files

But the panda_moveit_config/config/ros_controller.yaml is empty.

[2022-04-08 07:39] arnauddomes commented on #107
Here is the diff I made to make it work

[code]

and

[code]

[2022-04-08 11:19] xav12358 commented on #107
It seems it worls for me also. Thank you @arnauddomes

[2022-04-10 17:52] #107 closed, assigned to nobody

[2022-05-20 22:49] Olimoyo opened #110 "What version do we get when we do "sudo apt-get install ros-noetic-panda-moveit-config"?"
I struggled quite a lot to get this repo to work with the `move_to_start.launch` example of the noetic-devel branch of franka_ros: https://github.com/frankaemika/franka_ros/blob/noetic-devel/franka_example_controllers/launch/move_to_start.launch.

The one set up that worked for me was to get the debian version of `ros-noetic-panda-moveit-config` and to remove the remapping in `move_group.launch`:

[2022-05-28 22:07] fishbotics opened #111 "ROS Noetic Version Broken in Apt"
When I install this on 20.04 using `sudo apt install ros-noetic-franka-ros ros-noetic-franka-description` and try launching with `roslaunch panda_moveit_config demo.launch`, I get an error saying
`No such file or directory: /opt/ros/noetic/share/franka_description/robots/panda_arm_hand.urdf.xacro`.

From what I found online, this is due an error in this launch file: ` /opt/ros/noetic/share/panda_m

[2022-05-30 04:27] harryzhangOG opened #112 "Cannot control gripper in Noetic version"
Hi I just installed the noetic version on Ubuntu 20 and was able to control a real robot arm using moveit and python binding. However, I could not close the gripper... Here is my step-to-step illustration of the issue:

First, here is the python code that runs well on the melodic version:
[code]
Running the script would be stuck at `gripper_client.wait_for_result()`.

Then, in rviz, if i choose th

[2022-05-30 12:57] AndyZe commented on #112
There are a few parts to this:

- Add the gripper controller to the `moveit controllers yaml` -- looks like you've already done this.
- Add the gripper controller to the `ros_control yaml` -- maybe that has not been done.
- Add the gripper controller to the launch file.

Here are some examples:
- `ros_control yaml`:   https://github.com/ros-planning/moveit_resources/blob/master/panda_moveit_config

[2022-06-03 07:08] rhaschke commented on #112
The listed python code works well for me on Noetic as well. By the way, this code is not MoveIt related at all. It just requires franka_control to be running: `roslaunch franka_control franka_control.launch`.

[2022-06-21 14:59] BarisYazici commented on #110
Answering your question in the title:
1) You can see that when you are installing the package
`Get:1 http://packages.ros.org/ros/ubuntu focal/main amd64 ros-noetic-panda-moveit-config amd64 0.7.5-1focal.20220515.082357 [20,4 kB] `
2) You can also check the package.xml in the package directory
`roscd panda_moveit_config`
`cat package.xml`

[2022-06-28 06:23] roefer opened #113 "Binary package for Melodic still on version 0.7.4"
The package that is installed on Ubuntu 18.04 through apt is still on version 0.7.4, i.e. with a broken srdf file that makes it impossible to use.

[2022-07-07 09:32] rpapallas opened #114 "How do we set the end_effector_link and pose_reference_frame from within the launch file?"
While working with Panda and MoveIt (using our custom launch files, based on the `panda_moveit_config` ones), we realised that in our scripts we have to set the following two lines to "tell" MoveIt the appropriate reference frame and end-effector link:

[code]

Although this solves the problem, we want to move this into the `move_group.launch` launch file. Is there any way we could set those two v

[2022-07-07 11:24] rhaschke commented on #114
There is no option to set those group-dependent parameters via the launch file.

The end-effector link defaults to the [last link in a chain](https://github.com/ros-planning/moveit/blob/605b28aaf4fe573000f3e4995c36c66d143e3885/moveit_ros/planning_interface/move_group_interface/src/move_group_interface.cpp#L139-L140). Thus, just define your `group` correspondingly, which should already be the case

[2022-07-07 13:33] rpapallas commented on #114
Thank you, @rhaschke, for getting back to me. Just to confirm, there is no way we could set these even from a YAML or other config file? They are kind of implicitly defined through the model?

[2022-07-07 14:16] rhaschke commented on #114
Yes, the defaults are defined by the SRDF essentially.

[2022-07-07 17:28] rpapallas commented on #114
Thank you, @rhaschke.

[2022-07-07 17:28] #114 closed, assigned to nobody

[2022-07-17 10:17] Franka-Med opened #115 "How to control a real franka robot arm?"
I want to use moveit to control a real franka robot arm. I try changing the value of fake_execution to false in demo.launch, but it doesn't work. and terminal shows "Action client not connected: position_joint_trajectory_controller/follow_joint_trajectory".

What should I do?  Thank you very much.

[2022-07-17 11:47] rhaschke commented on #115
Obviously, you need to start your robot hardware controllers. In branch noetic-devel an example launch file exists to do so: [`franka_control.launch`](https://github.com/ros-planning/panda_moveit_config/blob/noetic-devel/launch/franka_control.launch)

[2022-07-18 02:51] Franka-Med commented on #115
Thank you very much!!! It works. Now moveit can successfully drive the real robot arm.

[2022-07-18 07:04] #115 closed, assigned to nobody

[2022-07-20 09:24] nikaulen opened #116 "Real Panda aborts motion with current joint limits in `joint_limits.yaml`"
Dear MoveIt-Experts,

thank you for developing and maintaining this framework!

I'm using Panda for my research and am currently trying to optimize its execution speed. So far, I had been using the default joint limits from the `config/joint_limits.yaml` (from an earlier version of the moveit config) with all the `max_velocity` limits set to the values given in the FE FCI documentation and all `ma

[2022-07-20 13:04] AndyZe commented on #116
Are you using MoveIt2? If so, there's a jerk-limited trajectory smoothing plugin that might help. There are usage instructions here:

https://github.com/ros-planning/moveit2/pull/1202

There's a PR in progress to bring this to MoveIt 1.

I'm sorry I don't know the answers to your other questions.

[2022-07-20 15:42] nikaulen commented on #116
Thanks for pointing me to this plugin, I'll definitely take a look at it but no, I'm still using MoveIt 1 and ROS Noetic. Can I access the PR for MoveIt 1 somewhere?

Any further information about whether these joint limits work for somebody else would be greatly appreciated!

[2022-07-20 15:48] AndyZe commented on #116
Do they match the limits in the Franka Emika official repo? Because lots of people are using that on actual robots.

https://github.com/frankaemika/franka_ros

[2022-07-20 16:15] nikaulen commented on #116
If I understand correctly, the [Panda hardware limits](https://frankaemika.github.io/docs/control_parameters.html#constants) (also found [here](https://github.com/frankaemika/libfranka/blob/master/include/franka/rate_limiting.h)) should be much higher than the limits used in [joint_limits.yaml](https://github.com/ros-planning/panda_moveit_config/blob/noetic-devel/config/joint_limits.yaml).
Assumin

[2022-07-20 16:19] AndyZe commented on #116
They don't have to be higher (they could be the same).

You're correct that the unit is rad/s^2 everywhere.

[2022-07-20 17:08] nikaulen commented on #116
Sorry, that was imprecisely formulated on my part. What I meant to say was that the Panda hardware limits **are** much higher than the limits given in the current moveit `joint_limits.yaml`

Edit: ... which is why I'm confused about the behavior that I'm seeing

[2022-08-08 06:31] Franka-Med opened #117 "How to obtain the pressure of the real Franka's end effector (not gripper) and control it to generate a constant force (such as 0.5kg)?"
From the command line:
`rostopic echo / joint_ states`
I can obtain the torque of each joint.
Further, I want to obtain the pressure of the end effector (not the grasping force of the claw) and control the robot arm based on the torque. May I ask if this idea can be implemented in moveit? If so, what should I do? Thank you very much.

[2022-08-08 06:44] rhaschke commented on #117
You should ask this over at https://github.com/frankaemika/franka_ros

[2022-08-08 06:44] #117 closed, assigned to nobody

[2022-08-09 08:59] rickstaa commented on #96
I had some questions I my email about how to use the new noetic branch so I will put this here as a reference:

1. Install ROS noetic (see http://wiki.ros.org/noetic/Installation/Ubuntu).
2. Build libfranka from source (see https://frankaemika.github.io/docs/installation_linux.html).
3. Build franka_ros from source (see https://frankaemika.github.io/docs/installation_linux.html).
4. Clone the noet

[2022-08-09 09:04] rickstaa commented on #96
@rhaschke @gollth, I don't think anything is blocking us from releasing the noetic package. To my knowledge, the last time I checked, there were only the instabilities in the gripper action (gripper action time out, gripper action not working when the gripper is vertical - see https://github.com/frankaemika/franka_ros/issues/172).

[2022-08-09 12:50] rhaschke commented on #96
I agree. However, before releasing `panda_moveit_config`, `franka_ros` should be released including https://github.com/frankaemika/franka_ros/issues/199, which was merged in April. Also, we will diverge between Melodic and Noetic as MoveIt Melodic doesn't support the new collision matrix specification, i.e. coarse vs. detailed collision models required by `franka_description`. @gollth, are you fin

[2022-08-18 14:52] #94 closed, assigned to nobody

[2022-08-18 15:23] rhaschke commented on #113
I triggered a new release for Melodic to restore compatibility with franka_ros 0.9.
https://github.com/ros/rosdistro/pull/34182

[2022-08-18 15:23] #113 closed, assigned to nobody

[2022-08-18 15:24] rhaschke commented on #75
I triggered a new Melodic release: https://github.com/ros/rosdistro/pull/34182

[2022-08-18 15:24] #75 closed, assigned to nobody

[2022-08-18 15:29] rhaschke commented on #105
Sorry for the late reply. Looks like nobody tracks issues here...

I guess franka_combined_control expects all joint targets to be present in a command.
Instead of using combined control, I suggest using two separate franka_ros controllers, one for each robot.
Then, in MoveIt you can define to use different controllers for the two separate robot groups. The combined group automatically splits traj

[2022-08-18 23:16] rhaschke commented on #116
Can you provide more information about which time parameterization plugin you use? The default plugin, [`AddTimeParameterization` / `IterativeSplineParameterization`, uses a default acceleration of 1.0](https://github.com/ros-planning/moveit/blob/7949bd6ea776e1268b8ff9e2015cad5cb695b829/moveit_core/trajectory_processing/src/iterative_spline_parameterization.cpp#L42), which explains that a factor o

[2022-08-19 08:20] cnaes93 opened #118 "collision problem from start the panda moveit demo.launch in noetic version"
Hi
I installed recently the moveit for noetic from [link](https://ros-planning.github.io/moveit_tutorials/doc/getting_started/getting_started.html) and clone the panda-moveit.config the melodic version (-b melodic-devel) like in the Installation was. But when I launch it
`roslaunch panda_moveit_config demo.launch rviz_tutorial:=true`
 from the start the panda robot is in collision state I think (t

[2022-08-19 09:32] rhaschke commented on #118
The melodic-devel branch of panda_moveit_config is known to have collision issues. However, this was solved (but not yet released) in Noetic. Hence, running the most recent code (of MoveIt@master and panda_moveit_config@noetic-devel) this works for me:
![image](https://user-images.githubusercontent.com/5376030/185589904-27ab5159-8f3b-4753-ac9f-1e80bc3049ff.png)

Could you please check/specify the

[2022-08-19 10:14] cnaes93 commented on #118
How can I find the version of moveit and panda_moveit_config?
for the panda_moveit_config I used: [link](https://github.com/ros-planning/panda_moveit_config)

and for [moveit:](https://raw.githubusercontent.com/ros-planning/moveit/master/moveit.rosinstall)

as in the installation mentioned.

[2022-08-19 14:33] nikaulen commented on #116
Thanks for your reply. I was indeed using the default plugin. However, changing to `AddTimeOptimalParametrization` does not change panda's behavior. I'm using franka_ros version 0.8.1 and MoveIt version 1.1.9.

On another panda robot that we use I can execute the motion, but the motor of the first joint is clearly overshooting the desired positions which results in braking with the maximal allowed

[2022-08-19 15:05] rhaschke commented on #116
If there is a discrepancy between planned and executed trajectories, you should file a bug report over at franka_ros, who provide the actual robot controllers. MoveIt correctly plans the trajectories.
Maybe you overload the robot?

[2022-08-19 15:07] rhaschke commented on #118
https://unix.stackexchange.com/questions/6284/how-do-i-check-package-version-using-apt-get-aptitude
https://stackoverflow.com/questions/949314/how-do-i-get-the-hash-for-the-current-commit-in-git

[2022-08-23 06:38] rhaschke commented on #116
I cannot confirm the reported behavior on our Panda robot:
![image](https://user-images.githubusercontent.com/5376030/186087716-66460edd-6da3-483a-aa2c-0831707277b5.png)

However, the controller isn't optimally tuned here as well - lots of oscillations in the deceleration phase. Maybe yours is tuned even worse? How did you record/plot actual accelerations?

[2022-08-23 06:57] rhaschke commented on #110
The debian package `ros-noetic-panda-moveit-config` is tagged with version 0.7.5
(check e.g. with `dpkg -l ros-noetic-panda-moveit-config`).
Unfortunately, the noetic branches of franka_ros and panda_moveit_config are currently out of sync. We are working on it...

[2022-08-23 07:32] nikaulen commented on #116
The robot did not carry any weight during these tests.

We recorded measured velocities during execution in fixed time intervals and calculated accelerations from these values just to visualize what happens during the last part of our example motion.

[2022-08-23 08:22] rhaschke commented on #116
I would expect much more noise from calculated accelerations.
In any case, I think you should contact Franka support as your robot controllers are obviously badly tuned.
From MoveIt's perspective, everything looks fine. Hence, closing here.

[2022-08-23 08:22] #116 closed, assigned to nobody

[2022-08-23 15:54] Olimoyo commented on #110
Thank you!

[2022-08-23 15:54] #110 closed, assigned to nobody

[2022-08-29 07:26] gollth commented on #96
Hi @rhaschke,

sorry for the late reply I was on holiday until today.

Sounds good to me. We will release [everything currently in `develop`](https://github.com/frankaemika/franka_ros/blob/develop/CHANGELOG.md#0xy---unreleased) shortly.

Seems logical to me.

[2022-08-29 07:26] gollth commented on #96
Just as a heads up, @marcbone is currently working on a URDF changing feature in `franka_ros`. The outer interface (i.e. XACRO args and filenames ...) will stay the same, but the internal structure will be refactored a bit. We don't think this will be a breaking change for `panda_moveit_config` but with URDFs you can never know how breaking it really is.

[2022-08-29 07:30] rhaschke commented on #96
Please inform me if this gets merged and I will have a look at `panda_moveit_config`.

[2022-08-30 06:25] gollth commented on #96
`franka_ros` 0.9.1 is now released on [melodic](https://github.com/ros/rosdistro/pull/34241) and [noetic](https://github.com/ros/rosdistro/pull/34242)

[2022-08-31 06:03] cnaes93 commented on #118
I solved it. I started the installing  from [Getting Started ](https://ros-planning.github.io/moveit_tutorials/doc/getting_started/getting_started.html) and there is no `sudo apt install ros-noetic-moveit`
so i actually didn't installed the moveit, but I'm wondering how could I opend the moveit without installing it. How ever I find my problem after I compared the installings code between Melodic

[2022-08-31 06:04] #118 closed, assigned to nobody

[2022-08-31 09:28] rhaschke commented on #118
The Noetic version of Getting Started installs MoveIt from source as explained [here](https://ros-planning.github.io/moveit_tutorials/doc/getting_started/getting_started.html#create-a-catkin-workspace-and-download-moveit-source). But even without this step, the required packages should get installed via rosdep as explained [here](https://ros-planning.github.io/moveit_tutorials/doc/getting_started/

[2022-08-31 13:33] cnaes93 commented on #118
I did the installation via rosdep as explained there on 2 devices but there was no Panda_hand in MotionPlanning (just hand) and collision problem for start planning the robot (Panda-arm:Motion planning start tree could not be initialized). So reinstalled moveit again this time with  `sudo apt install ros-noetic-moveit` and then installing the packages and finally evrythings work well.

[2022-09-01 06:21] rhaschke commented on #112
As the issue is not reproducible (anymore?), I'm closing the issue due to inactivity.

[2022-09-01 06:21] #112 closed, assigned to nobody

[2022-09-01 06:46] rhaschke commented on #96
I triggered a release into Noetic: https://github.com/ros/rosdistro/pull/34290
as well as into Melodic: https://github.com/ros/rosdistro/pull/34297

[2022-09-01 06:46] #96 closed, assigned to nobody

[2022-09-01 06:47] rhaschke commented on #111
Should be fixed with upcoming release 0.8.

[2022-09-01 06:47] #111 closed, assigned to nobody

[2022-09-05 08:25] marcbone commented on #96
I guess there was a bit of miscommunication. The refactoring of the URDF is now done and on the develop branch, but it was not part of the`0.9.1` release. We will make a release over rosdistro for version `0.10.0` tomorrow.

[2022-09-07 13:29] cnaes93 commented on #115
Hi, I want to do the same thing, control the real robot with moveit. I changed the moveit_controller_manger to ros_control and also fake_execution to false but the real robot still does not follow the simulation path. which oder things should I change to make the real robot move?
thanks

[2022-09-07 13:44] rhaschke commented on #115
@cnaes93, please provide detailed info how you launch the robot and MoveIt. As said above, it should suffice to use `roslaunch panda_moveit_config franka_control.launch` using the latest releases of panda_moveit_config and franka_ros in ROS Noetic.
If that doesn't work, please check the error messages on the console. They provide useful hints.

[2022-09-11 15:44] YXGuan opened #120 "No such file or directory:"
Hi there,

I update my local [panda_moveit_config](https://github.com/ros-planning/panda_moveit_config) repo today and received the following error message:

![image](https://user-images.githubusercontent.com/55643200/189536506-797af074-981d-4ff6-a7b7-66ecdef68d2b.png)

[2022-09-11 16:47] rhaschke commented on #120
Please also update `franka_description`! It's released but not yet synced.

[2022-09-11 16:47] #120 closed, assigned to nobody

[2022-09-12 01:08] YXGuan commented on #120
I see. Thank you sir

[2022-09-12 03:04] YXGuan commented on #120
@rhaschke
Hi Dr. Haschke,

Sorry I have a question unrelated to this issue:
When I was attempting to add a griper in Define Planning Groups in MoveIt Setup Assistant, I can't see any available links related to panda_hand, panda_leftfinger, and panda_rightfinger. Did I do something stupid or am I using the wrong URDF file?

Thanks,

![image](https://user-images.githubusercontent.com/55643200/189566

[2022-09-12 04:44] rhaschke commented on #120
In order to get a gripper, you need to pass xacro arguments: `hand:=true`

[2022-09-12 07:43] marcbone opened #121 "strange self-collision"
When running demo.launch there is a red visualization indicating a self-collision:
![image](https://user-images.githubusercontent.com/16033059/189596614-47dec6c1-56ba-40ba-b1b6-f02eb8a581c8.png)
I am not sure what that means as planning still works. Also looking at the srdf, I do not see why these collisions are enabled, as there is a "disable_default_collisions" for panda_link4_sc. I found 3 diff

[2022-09-12 10:41] rhaschke commented on #121
You need to build MoveIt from source as we didn't yet release the most recent changes to get the new ACM working.
This is on my TODO list though.

[2022-09-12 11:20] YXGuan commented on #120
Thank you very much

[2022-09-13 12:38] cnaes93 commented on #115
@rhaschke , first of all I copied the panda_control_moveit_rviz.launch from github in the folder panda_moveit_config, because there is no such files in [ noetic version of moveit.](https://github.com/ros-planning/panda_moveit_config/tree/noetic-devel/launch) then I changed the fake controller in roscontrol as mentioned above and launch it. I also tried to launched the franka_control as you said, b

[2022-09-13 13:28] Franka-Med commented on #115
@cnaes93 Here is the link to the ROS Noetie, you should download this and try again
https://github.com/ros-planning/panda_moveit_config/tree/noetic-devel

[2022-09-13 14:22] rhaschke commented on #115
Did you install the debian package `ros-noetic-franka-control`? That's needed for your real robot!

[2022-09-14 07:31] cnaes93 commented on #115
I installed the debian Package as well (I followed all the installations steps as mentioned in moveit noetic).
One time i did `catkin clean --deinit` my home directory since then it could not find any Libraries or packages. I reinstalled after that all ROS, libfranka, franka_ros and moveit but it did not solve the problem! Do you think its because of this or something else?

[2022-09-14 07:42] rhaschke commented on #115
Obviously, the package `franka_control` is not found. Hence, I can only conclude that you didn't install it.
Search for it in /opt/ros/noetic to confirm: `find /opt/ros/noetic -iname franka_control`.

[2022-09-14 09:18] cnaes93 commented on #115
Thanks. The franka-control was not installed I don't know how but I installed it with:
`sudo apt install ros-noetic-franka-control` and it works now.
Thanks.

[2022-09-16 07:47] Assets01 opened #122 "Does /franka_control/set_EE_frame service change the end effector of current move group ?"
Using /franka_control/set_EE_frame service can set NE_T_EE, thus changes 'panda_ee' frame in TF tree. I wonder when using moveit for planning after set_EE_frame, what happens to the defined end effector?

 e.g., when using panda_manipulator move group, the default end effector is 'pand_hand_tcp', and 'panda_ee' frame is equal to 'pand_hand_tcp' frame, the planed cartesian path is for 'pand_hand_tc

[2022-09-16 13:12] AndyZe commented on #122
That service sounds like something that's unique to the Panda. Unfortunately MoveIt doesn't know anything about it so I expect the MoveIt planning frame wouldn't change.

If you're using the MoveGroupInterface (C++), you can change the planning frame with `setEndEffectorLink()`:

https://github.com/ros-planning/moveit/blob/327b5b09cc48b97ba3f2a9ac2acf1edcd1bb0650/moveit_ros/planning_interface/move

[2022-09-16 13:12] #122 closed, assigned to nobody

[2022-10-05 03:43] fzy139 opened #123 "Cannot find 'panda_control_moveit_rviz.launch'"
I want to calibrate my camera using `easy_handeye`. In its example the robot is started by `panda_control_moveit_rviz.launch`. However, this file could not be found anymore. Maybe it was deleted in a commit, for I find this file in bing.
Is there any alternative to this file?

[2022-10-05 07:16] rhaschke commented on #123
This file was replaced by `franka_control.launch`. See https://github.com/IFL-CAMP/easy_handeye/pull/112 for a fix.

[2022-10-05 07:16] #123 closed, assigned to nobody

[2022-10-05 10:37] fzy139 commented on #123
I changed my `.launch` file as your commit to `easy_handeye`. But I met some errors:
[code]
Is there some way to fix it? My ROS version is Noetic.

[2022-10-05 11:24] rhaschke commented on #123
Which version of panda_moveit_config and franka_description do you have installed? Latest are:
[code]

[2022-10-06 09:08] fzy139 commented on #123
When I installed ROS, I installed Desktop-Full version: `sudo apt install ros-noetic-desktop-full`. It should contain the latest `ros-noetic-panda-moveit-config` and `ros-noetic-franka-description`.

[2022-10-06 09:14] fzy139 commented on #123
When I tried `roslaunch panda_moveit_config demo.launch`, I got the error
[code]

[2022-10-06 09:24] fzy139 commented on #123
I find no directory in `xxx/catkin_ws/src/franka_ros/franka_description/robots/`.But there are several `.xacro` files:
[code]

[2022-10-06 09:36] rhaschke commented on #123
Please explicitly check: `dpkg -l | grep <package name>`

As you can see [here](https://github.com/frankaemika/franka_ros/tree/0.10.1/franka_description/robots/panda), `franka_description 0.10.1` comprises this file. Older versions don't! Please check your versions!

As you are building from source, you should `git remote update` and `git pull` the latest versions of `franka_ros` and `panda_moveit

[2022-10-07 01:37] fzy139 commented on #123
Thanks for your answer. I updated my franka_ros and the error about `.xacro` files disappears. However, I got another errors when running `roslaunch panda_moveit_config demo.launch`:
[code]
I have checked that `ompl` is installed with ROS, but I cannot find `chomp`:
[code]
Since this is just a demonstration, I am not sure whether this error will influence my usage afterward

[2022-10-07 07:03] rhaschke commented on #123
What about just installing the missing ROS packages? See [here](http://repositories.ros.org/status_page/ros_noetic_default.html) for a list of all available packages.

[2022-10-12 20:34] BolunDai0216 opened #124 "How to use Moveit on FR3"
Hi,

I was wondering if it would be possible to point me to some resources that show how to use moveit on a real robot. I did not see `franka_control.launch` used in the other launch files.

Thanks in advance!

[2022-10-13 07:17] rhaschke commented on #124
You use MoveIt in exactly the same fashion on a real robot, a Gazebo simulation, or the even simpler rviz-only simulation. Just tell MoveIt which robot controllers to use for actuation. A corresponding tutorial can be found here:
https://ros-planning.github.io/moveit_tutorials/doc/controller_configuration/controller_configuration_tutorial.html

[2022-10-13 07:17] #124 closed, assigned to nobody

[2022-10-13 07:18] rhaschke commented on #124
franka_control.launch is used in franka_control.launch of this package:
https://github.com/ros-planning/panda_moveit_config/blob/b5ce35571832b4165f67f5db51c69581354d2cee/launch/franka_control.launch#L7

[2022-10-14 02:00] BolunDai0216 opened #125 "Cannot replicate this moveit_config after following the moveit tutorial"
Hi,

I was trying to replicate this repo by following the moveit setup assistance tutorial. However, after launching `demo.launch`, when I run

[code]

I get the following error:

[code]

Would it be possible to help me understand the issue?

Thanks in advance!

[2022-10-14 06:39] rhaschke commented on #125
If I understand correctly, you re-created `panda_moveit_config` from scratch following the MSA tutorial and only using this newly created config, you observe the failure? (I just tested the released panda_moveit_config, version 0.8.1, w/o any issues).
Could you please provide the generated `config/*.srdf` file? Probably the pre-defined robot poses are wrong, leading to a collision in the initial p

[2022-10-14 11:36] BolunDai0216 commented on #125
Yes, I recreated it from scratch following the MSA tutorial. The generated`panda.srdf` file is:

[code]

Another issue that I found is the automatically generated Self-Collision Matrix is different from the Self-Collision Matrix of the released version of `panda_moveit_config`. Is this because the released version is using an older version of the URDF file? I noticed the URDF relative path in `.se

[2022-10-14 14:47] BolunDai0216 commented on #125
Did you also do some post-processing to the config files after they are generated by MSA? If that is the case, would it be possible to also point out some of the necessary changes that need to be made?

[2022-10-14 18:03] rhaschke commented on #125
The self-collision matrix looks perfectly fine. Sure, the definitions in the .srdf are different, but the resulting matrices are identical:
| panda_moveit_config release 0.8.1 | your panda_moveit_config generated from scratch |
|----------------------|-----------------------|
| ![image](https://user-images.githubusercontent.com/5376030/195909412-cd17877e-51b3-44a5-908b-38b55a7ff46c.png) | ![image]

[2022-10-14 18:03] #125 closed, assigned to nobody

[2022-10-14 18:19] BolunDai0216 commented on #125
The collision matrix I am getting looks like this:
![Screenshot from 2022-10-14 14-16-50](https://user-images.githubusercontent.com/36321182/195914209-811aea57-633d-44de-ae53-e134e5c3c6dd.png)

I am using the URDF file from `franka_description`: https://github.com/frankaemika/franka_ros/blob/develop/franka_description/robots/panda/panda.urdf.xacro, and giving the additional command: `hand:=true`

[2022-10-14 18:45] rhaschke commented on #125
Hm, looks like I didn't load your panda.srdf. In any case, the Panda robot requires a very special AllowedCollisionMatrix, which cannot be found by the algorithm used by MSA. So, please continue the tutorials with the released panda_moveit_config.

[2022-10-14 18:53] BolunDai0216 commented on #125
I see. Actually, I am trying to create a moveit_config package for Franka Research 3 (FR3).

Do you know if one exists on GitHub?

I see the only difference in the URDF file between panda and FR3 is the joint limits. Do you think I can simply change the `joint_limits.yaml`file and make it work for FR3?

[2022-10-14 18:55] rhaschke commented on #125
I don't think so.

Yes, to switch panda_moveit_config to FR3, you probably just need to load the correct .urdf and adapt joint limits.

[2022-10-27 12:23] cnaes93 opened #126 "rotating the gripper"
I have some Objects on the table that Robot must pick them up in certain direction.  My idea was to rotate the robot's joint 6 to grab them. But I realized that joint 6 has a limitation and couldn't rotate in 360 degrees.  I printed new gripper and changed fingers of the robot so gripper must  be able to rotate 360 to grab the object.
Then I tried using the quaternion to set the appropriate pose f

[2022-10-27 14:54] rhaschke commented on #126
This question should be better asked at https://answers.ros.org. Please, post real issues and bug reports here only.
You can't change the joint limits - these are defined by hardware limits. So, specify the correct orientation via a quaternion...

[2022-10-27 14:54] #126 closed, assigned to nobody

[2022-11-27 10:47] zehub123 opened #127 "no panda_moveit_config.launch"
no panda_moveit_config.launch? which file has the same function in the new respsitory? Thank you very much.

[2022-11-27 10:55] rhaschke commented on #127
There was never a file like `panda_moveit_config.launch`. Probably you mean:
`roslaunch panda_moveit_config demo.launch`
or
`roslaunch panda_moveit_config move_group.launch`

[2022-11-27 11:00] zehub123 commented on #127
thanks,  can I use franka_control. launch replace panda_moveit_config.launch?

[2022-11-27 15:20] rhaschke commented on #127
If you want to run the real robot:
`roslaunch panda_moveit_config franka_control.launch`